{
  "extends": ["kaisermann/typescript"],
  "env": {
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/camelcase": "off"
  }
}
